;------------------------------------------------------------------------------
;   edit this evar to switch themes
;------------------------------------------------------------------------------

ThemeDir "$ThemesDir$ThemeName\"
