;------------------------------------------------------------------------------
;	define critical folder locations
;------------------------------------------------------------------------------

PersonalDir             "$LiteStepDir$personal\"
ThemesDir               "$LiteStepDir$themes\"
ModulesDir              "$LiteStepDir$modules\"



;------------------------------------------------------------------------------
;	load personal settings and theme
;------------------------------------------------------------------------------

include                 "$ThemesDir$themeselect.rc"
include                 "$ThemeDir$config\_compatibility_patch.rc"

LoadModule              "$LiteStepDir$NLM\NetLoadModule2.dll"
*NetLoadModuleSite      "http://www.modules.nbi-studio.com/"
*NetLoadModuleSite      "http://modules.shellfront.org/"
*NetLoadModuleSite      "http://www.modules.ls-universe.info/modules/"
NetLoadModulePath       "$ModulesDir$"
NetLoadModuleDocPath    "$ModulesDir$docs\"
NetLoadModuleZipPath    "$ModulesDir$archive\"
NetLoadModuleAliasFile  "$LiteStepDir$NLM\NetLoadModule.ini"

include                 "$PersonalDir$personal.rc"
include                 "$ThemeDir$theme.rc"
